<div class="flex container p-2">
<%= live_render(@conn, TodayWeb.FilesLive, container: {:div, class: "w-2/12 mr-1"}) %>
<%= live_render(@conn, TodayWeb.EditorLive, container: {:div, class: "w-10/12"}) %>
</div>
